<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tdc.edu.vn.shoesshop">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/shoes3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Toan.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Toan.MainActivity" />
        <activity android:name=".Toan.HomeForShop" />
        <activity android:name=".Thanh.EdittingShopInformation" />
        <activity android:name=".Toan.Info_product"/>
        <activity android:name=".Sang.Bills" />
        <activity android:name=".Toan.RatingOfClient" />
        <activity android:name=".Thanh.EdittingClientInformation" />
        <activity android:name=".Toan.ProductInformation" />
        <activity android:name=".Sang.QuantityManagement" />
        <activity android:name=".Sang.ChangePassword" />
        <activity android:name=".Son.OrderInformationForShop" />
        <activity android:name=".Son.ClientInformationAfterOrder" />
        <activity android:name=".Toan.HomeLayout" />
        <activity android:name=".Khanh.Promotions"/>
        <activity android:name=".Khanh.EdittingPromotions" />
        <activity android:name=".Toan.Comment_Activity" />
        <activity android:name=".Toan.SignupActivity" />
        <activity android:name=".Toan.ResetPasswordActivity" />
        <activity android:name=".Thanh.DetailInformationOfProduct" />
        <activity android:name=".Toan.HomeForClient" />
        <activity android:name=".Thanh.EditingPromotionDetail"/>
        <activity android:name=".Sang.ListOder"/>
        <activity android:name=".Son.OrderInformationForClient"/>
        <activity android:name=".Bao.MainCustomer"/>
        <activity android:name=".Bao.MainInfoShop"/>
        <activity android:name=".Bao.MainInfoCilent"/>

    </application>
</manifest>